body{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-color: #C8C8CA;
    margin-left: 40px;
    margin-top: 15px;
}
h1, h2{
    color: navy
}

p, ul, ol {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: left;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: none; }

p:first-child:first-letter {
    color: #903;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }